body{
  background-image: url("bgimg.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.title{
  background-color: skyblue;
  height:55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.title a{
  display: block; 
  color: black; 
  text-align: center; 
  align-content:center;
  padding: 10px 50px;
  text-decoration:none; 
  font-family: 'Ubuntu';
  font-size: 30px;
}
.title ul{
  margin:0;
  text-align:center;
}
.title li{
  display: inline-block;
}

.header{
  margin-top: 70px;
  font-family: 'Lobster';
  font-size: 70px;
  letter-spacing: 10px;
  text-align:center;
}

h3{
  margin-bottom:10px;
  text-align:center;
  font-family: 'Chakra Petch';
  font-size:30px;
}
.inter_sec{
  margin-right:20px;
  margin-left:20px;
  padding: 10px;
  border: 5px solid lightgreen;
  font-size: 20px;
  color: white;  
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.inter_sec iframe{
  display: block;
  width:600px;
  height:400px;
  margin: 0 auto;
}

.sec_kor{
  font-family:'cabin';
  font-size:20px;
  text-align:center;
  border: 5px solid orange;
  border-radius: 10px 0 10px 0;
}
.sec_kor strong{
  color:red;
}
.sec_kor img{
  border-radius: 10px;
  width:400px;
  height:300px;
}
.sec_fea{
  margin-top:10px;
  font-family:'cabin';
  font-size:25px;
  padding:10px;
  color: white;
  border: 5px solid purple;
  border-radius: 10px 0 10px 0;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.sec_fea strong{
  color:red;
}
.sec_fea h2{
  text-align:center;
}